.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
.DS_Store

/.quarto/
**/*.quarto_ipynb

# Document-specific cache and dependencies 
/*_cache/
/*_files/

/_manuscript/*
/_freeze/*
.Rhistory
.RData

renv/library/
renv/sandbox/
renv/staging/
